dist/index.html
dist/css/main.css
dist/img/adas.jpg
dist/img/anioly.jpg
dist/img/anioly2.jpg
dist/img/czeslaw.jpg
dist/img/marek.jpg
dist/img/miasto.jpg
dist/img/palac.jpg
dist/img/palac2.jpg
dist/img/rybki.jpg
dist/img/rzezba.jpg
dist/img/schody.jpg
dist/img/shard.jpg
